{
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "plugins": ["react", "prettier"],
  "rules": {
    "no-console": "warn",
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off",
    "unicorn/filename-case": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "plugin:sonarjs/recommended",
    "plugin:security/recommended"
    // "plugin:react-hooks/recommended"
  ]
}
